# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
source/media/unrot_traffic5.png
source/media/unrot_traffic4.png
source/media/unrot_traffic3.png
source/media/unrot_traffic2.png
source/media/unrot_traffic1.png
source/media/unrot_car_player.png
source/media/traffic5.png
source/media/traffic4.png
source/media/traffic3.png
source/media/traffic2.png
source/media/traffic1.png
source/media/tracks.png
source/media/timeout.png
source/media/stop.png
source/media/semaforo.png
source/media/seat-belt.png
source/media/null.png
source/media/menu.png
source/media/leveldesign.png
source/media/finish.png
source/media/direction.png
source/media/celular.png
source/media/car_player.png
source/media/bounds.png
source/media/X.png
source/media/T.png
source/media/OPENGAMEART_TREES.png
source/media/OPENGAMEART_GRASS.png
source/media/O.png
source/media/L.png
source/media/I.png
source/media/CREDITS_TREES.txt
source/media/CREDITS_GRASS.txt
source/images/voltar.png
source/images/venceu.bmp
source/images/tela_testes.bmp
source/images/tela2_teste.bmp
source/images/semaforo.png
source/images/sel_nivel.bmp
source/images/sel_carro.bmp
source/images/sair.png
source/images/perdeu1.bmp
source/images/perdeu.bmp
source/images/novo_jogo.png
source/images/niveis.png
source/images/menu_creditos.bmp
source/images/menu_background_2.bmp
source/images/menu_background.bmp
source/images/menu_ajuda.bmp
source/images/mapa_tela2.bmp
source/images/jogar.png
source/images/creditos.png
source/images/continuar.bmp
source/images/cone.PNG
source/images/carros3-2.png
source/images/carros3-1.png
source/images/carros2-2.png
source/images/carros2-1.png
source/images/carros1-2.png
source/images/carros1-1.png
source/images/carro_obstaculo.png
source/images/carro3_atributos.png
source/images/carro2_atributos.png
source/images/carro1_atributos.png
source/images/carreta.png
source/images/avancar.png
source/images/ajuda.png
source/fase3/media/unrot_traffic5.png
source/fase3/media/unrot_traffic4.png
source/fase3/media/unrot_traffic3.png
source/fase3/media/unrot_traffic2.png
source/fase3/media/unrot_traffic1.png
source/fase3/media/unrot_car_player.png
source/fase3/media/traffic5.png
source/fase3/media/traffic4.png
source/fase3/media/traffic3.png
source/fase3/media/traffic2.png
source/fase3/media/traffic1.png
source/fase3/media/tracks.png
source/fase3/media/timeout.png
source/fase3/media/stop.png
source/fase3/media/semaforo.png
source/fase3/media/seat-belt.png
source/fase3/media/null.png
source/fase3/media/menu.png
source/fase3/media/leveldesign.png
source/fase3/media/finish.png
source/fase3/media/direction.png
source/fase3/media/celular.png
source/fase3/media/car_player.png
source/fase3/media/bounds.png
source/fase3/media/X.png
source/fase3/media/T.png
source/fase3/media/OPENGAMEART_TREES.png
source/fase3/media/OPENGAMEART_GRASS.png
source/fase3/media/O.png
source/fase3/media/L.png
source/fase3/media/I.png
source/fase3/media/CREDITS_TREES.txt
source/fase3/media/CREDITS_GRASS.txt
